## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Busselton,AU,79.00,clear sky,-33.65,115.33,Observatory Guest House
1,1,Fukue,JP,71.60,clear sky,32.69,128.84,Goto Guesthouse Utojuku & SA Car Rental
2,9,Atuona,PF,78.33,light rain,-9.80,-139.03,Villa Enata
3,15,Sri Aman,MY,89.60,scattered clouds,1.24,111.46,Seri Simanggang Hotel
4,16,Qeshm,IR,71.60,clear sky,26.96,56.27,Kimia IV Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
city_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(gmaps.marker_layer(locations, info_box_content=city_info))
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Kensington"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Kensington"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Cairns"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Busselton"]
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Yulara"]
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
119,331,Yulara,AU,89.6,scattered clouds,-25.24,130.99,Desert Gardens Hotel - Ayers Rock Resort

In [6]:
import numpy as np
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()[0][5:7]
end = vacation_end.to_numpy()[0][5:7]
stop1 = vacation_stop1.to_numpy()[0][5:7]
stop2 = vacation_stop2.to_numpy()[0][5:7]
stop3 = vacation_stop3.to_numpy()[0][5:7]

In [7]:
import gmaps.datasets
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
four_cities_rt = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="DRIVING")
fig.add_layer(four_cities_rt)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,23,Kensington,AU,70.0,scattered clouds,-33.92,151.22,Stamford Plaza Sydney Airport Hotel & Conferen...
1,409,Cairns,AU,86.0,few clouds,-16.92,145.77,Mantra Trilogy Cairns
2,0,Busselton,AU,79.0,clear sky,-33.65,115.33,Observatory Guest House
3,331,Yulara,AU,89.6,scattered clouds,-25.24,130.99,Desert Gardens Hotel - Ayers Rock Resort

In [15]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
fig.add_layer(gmaps.marker_layer(locations, info_box_content=hotel_info))
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))